
.product{
    display: flex;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    text-align: left;

   
}

.product img{
    width:150px;
    height: 150px;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
}
.product-name{
    color: blue;
    font-weight: 500;
    text-align: left;
}
.add-cart-btn{
    width: 150px;
    height: 30px;
    border: 1px solid whitesmoke;
    background-color: goldenrod;
    border-radius: 5px;
    cursor: pointer;
}