
.product{
    display: flex;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    
}
.product-name{
    color: blue;
    font-weight: 500;
}